body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-color: #231F20;
    position: relative;
}

.container{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
}

.circle {
    width: 100px;
    height: 100px;
    margin: 0px auto;
    background: linear-gradient(135deg, #5DAAC6 , #2E2E33);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    border-radius: 50%;
    border: 4px solid #231F20;
    outline: 2px solid white;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: perspective(1000px);
}

.earth {
    margin: 0px auto;
}

.circle img {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translateZ(20px) translateX(-50%) translateY(-50%);
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.circle .round{
    border-radius: 50%;
}

.plx {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateZ(20px) translateX(-50%) translateY(-50%);
}

.plx-text {
    color: white;
    font-size: 24px;
    margin: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateZ(20px) translate(-50%, -50%);
}

.plx-box {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translateZ(20px) translateX(-50%) translateY(-50%);
    background-color: black;
}

.plx-box-text {
    color: white;
    font-size: 24px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform:  translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.js-tilt-glare{
    border-radius: 50%;
}

.planet-container {
    z-index: 10;
    position: absolute;
    top: 16%;
    left: 16%;
    --d: 5.2em; /* image size */
    --rel: 1.5; /* how much extra space we want between images, 1 = one image size */
    --r: calc(.5*(1 + var(--rel))*var(--d)/var(--tan)); /* circle radius */
    --s: calc(2*var(--r) + var(--d)); /* container size */
    position: relative;
    width: var(--s); height: var(--s);
}
  
.planet-container a {
    max-width: 100%;
    position: absolute;
    top: 50%; left: 50%;
    margin: calc(-.5*var(--d));
    width: var(--d); height: var(--d);
    --az: calc(var(--i)*1turn/var(--m));
    transform: 
      rotate(var(--az)) 
      translate(var(--r))
      rotate(calc(-1*var(--az)))
}

.planet-container .middle {
    --mid: 22em;
    position: absolute;
    top: 52%; left: 52.5%;
    margin: calc(-.5*var(--mid));
    width: var(--mid); height: var(--mid);
}

.right-side{
    z-index: 1;
    position: absolute;
    padding: 10px;
    top: 36%;
    left: 65%;
    width: auto;
    height: auto;
    text-align: center;
    background-color: #141414c0;
    border-radius: 10px;
}

.day {
    text-align: center;
    font-size: 40px;
    color: white;
}
.clock {
    text-align: center;
    font-size: 100px;
    color: white;
}
.weather {
    text-align: center;
    font-size: 40px;
    color: white;
}

img { max-width: 100% }

.noselect{
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}